.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;

  & h1 {
    font-size: 3rem;

    margin: 0;
  }
  .header__nav {
    @media (max-width: 600px) {
      display: none;
    }
  }
  .header__burger {
    @media (min-width: 600px) {
      display: none;
    }

    button {
      font-size: 1.6rem;
      color: white;
      border: none;
      cursor: pointer;
      appearance: none;
      background-color: inherit;
    }
  }
}
