<section class="aboutme">
  <div class="aboutme__details">
    <span class="aboutme__title">Details</span>
    <img
      src="../../assets/images/us_unique-staff_ 0417 ┬®┬áKopf & Kragen Fotografie.jpg"
      alt=""
    />
    <div class="aboutme__personal-details">
      <strong>Name</strong>
      <span>Mani Mashayekhi</span>
      <strong>{{ "aboutme.age" | translate }}</strong>
      <span>32</span>
      <strong>{{ "aboutme.location" | translate }}</strong>
      <span>Berlin, Germany</span>
      <strong>{{ "aboutme.degree" | translate }}</strong>
      <span>B.Eng.</span>
      <strong>E-Mail</strong>
      <span>mani.mashayekhi3&#64;gmail.com</span>
    </div>
  </div>
  <div class="aboutme__info">
    <span class="aboutme__info-title">About Me</span>
    <span>{{ "aboutme.info" | translate }}</span>
  </div>
</section>
