<section class="contact">
  <div class="contact__info">
    <h1>{{ "contact.title" | translate }}</h1>
    <p>
      {{ "contact.firstInfo" | translate }}
      <b>mani.mashayekhi3&#64;gmail.com</b>
    </p>
    <p>{{ "contact.secondInfo" | translate }}</p>
  </div>
  <div class="contact__link">
    <a
      href="https://www.linkedin.com/in/mani-mashayekhi-7762982b2/"
      target="_blank"
      ><svg-icon
        class="contact__icon"
        src="../../assets/images/svg/icons8-linkedin.svg"
        [svgStyle]="{ 'width.px': 48 }"
      ></svg-icon>
      <h3>Linkedin</h3></a
    >
    <a href="https://github.com/ma-mani/" target="_blank"
      ><svg-icon
        class="contact__icon"
        src="../../assets/images/svg/icons8-github.svg"
        [svgStyle]="{ 'width.px': 48 }"
      ></svg-icon>
      <h3>Github</h3></a
    >
  </div>
</section>
