.contact {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  text-align: center;
  gap: 5rem;

  .contact__info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--color-background-100);
    padding: 1.2rem;
    border-radius: 9px;
    box-shadow: 0 0 1rem 0.6rem var(--color-primary);
    @media (max-width: 667px) {
      width: 100%;
    }
    p {
      font-size: 2rem;
      line-height: 2.4rem;
      b {
        @media (max-width: 667px) {
          font-size: 1.4rem;
        }
      }
    }
  }
  .contact__link {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.2rem;
    border-radius: 9px;
    @media (max-width: 667px) {
      width: 100%;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      padding: 1rem;
      background-color: #fff;
      width: 100%;
      border-bottom: 0.1rem solid #000;
      text-decoration: none;
      @media (max-width: 600px) {
        flex-direction: column;
        gap: 0;
      }
      .contact__icon {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      h3 {
        margin: 0;
      }
    }
  }
}
